@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.conteudo-cronogramas {
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* Alinha o conteúdo verticalmente ao centro */
    justify-content: center;
    /* Alinha o conteúdo horizontalmente ao centro */
    padding: 10px 20px;
    width: calc(100% - 220px);
    margin-left: 220px;
    height: calc(100vh - 40px);
    /* Ajusta a altura para 100% da viewport menos o padding da .conteudo-cronogramas */
}


.containerCronograma {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin: 5px;
    width: 70%;
}

.containerCronograma>div {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.permissions ul,
.user-list ul,
.event-creation ul {
    list-style: none;
    padding: 0;
}

.permissions ul li,
.user-list ul li,
.event-creation ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.status {
    padding: 2px 5px;
    border-radius: 5px;
}

.status.ativo {
    background-color: #d4edda;
    color: #155724;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.event-creation form {
    display: flex;
    flex-direction: column;
}

.event-creation form label,
.event-creation form input {
    margin: 10px 0;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.textTitulos {
    text-align: center;
    color: #E54C3C;
    font-weight: bold;
}

.subText {
    color: #2980b5;
}

.inputsTextAdvertencia {
    max-width: 90%;
    border: none;
    color: #2980b5;
    border-radius: 25px;
}

.inputCriacaoEvents {
    max-width: 50%;
    border: none;
    color: #2980b5;
    border-radius: 25px;
}

.labelEvent {
    align-items: center;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.labelBox {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.btnNotificacao {
    text-align: center;
    color: #fff;
    max-width: 50px;
    max-height: 50px;
    border: none;
    background-color: #2980b5;
    border-radius: 50px;
    justify-content: center;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .conteudo-cronogramas {
        margin-left: 0;
        width: 100%;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .permissions ul,
    .user-list ul,
    .event-creation ul li {
        flex-direction: column;
    }

    .calendar table,
    .event-creation form {
        width: 100%;
    }

    .inputsTextAdvertencia,
    .inputCriacaoEvents,
    .btnNotificacao {
        max-width: 100%;
    }
}