@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 944px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        height: 500px;
    }
}

.welcome {
    width: 100%;
    max-width: 300px;
    background-color: #2980b7;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .welcome {
        border-radius: 10px 0 0 10px;
    }
}

.welcome h1 {
    color: white;
    font-size: 24px;
}

@media (min-width: 768px) {
    .welcome h1 {
        font-size: 32px;
    }
}

.welcome p {
    color: white;
    font-size: 12px;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .welcome p {
        font-size: 15px;
    }
}

.welcome a {
    font-size: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.welcome button {
    font-weight: bold;
    background-color: #2980b7;
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 10px;
    transition: all 0.2s;
    width: 170px;
    margin-top: 10px;
}

.welcome button:hover {
    background-color: #1c6090;
}

.criarConta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.criarConta img {
    width: 100%;
    max-width: 269px;
    height: auto;
    margin-bottom: 20px;
}

.criarConta h1 {
    font-size: 24px;
    color: #2980b7;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .criarConta h1 {
        font-size: 32px;
    }
}

.criarConta p {
    font-size: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.criarConta input {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 30px;
    padding: 10px;
    background-color: #efeeee;
    outline: none;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.criarConta input::placeholder {
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.criarConta button {
    font-weight: bold;
    background-color: #2980b7;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.2s;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    border: none;
}

.criarConta button:hover {
    background-color: #1c6090;
}

.inputNome,
.inputEmail,
.inputSenha {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.svg {
    display: flex;
    align-items: center;    
}

.svgIconeUser{
    width: 35px;
    height:35px;
}

@media (min-width: 768px) {
    .inputNome,
    .inputEmail,
    .inputSenha {
        flex-direction: row;
        width: auto;
    }
}
