@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Contêiner para os cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Alinha os cards ao centro horizontalmente */
    gap: 20px;
    /* Espaçamento entre os cards */
    margin-top: 130px;
    margin-left: 200px;
    /* Adiciona uma margem à esquerda para separar os cards da barra lateral */
    margin-right: 20px;
    /* Adiciona uma margem à direita para separar os cards da borda da tela */
}

/* Estilo geral dos cards */
.cardN0,
.cardN1,
.cardN2,
.cardN3 {
    color: #000;
    margin: 6px;
    /* Espaçamento interno dos cards */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
    background-color: #fff;
    /* Cor de fundo */
    border-radius: 30px;
    /* Borda arredondada */
    flex: 1 1 auto;
    /* Os cards têm a mesma largura */
    max-width: calc(50% - 20px);
    /* Largura máxima de 50% menos a margem */
}

/* Estilo específico para o cardN0 */
.cardN0 {
    max-width: 600px;
    /* Largura máxima */
    flex: 1 1 100%;
    /* Ocupa toda a largura na linha */
    margin-left: 50px;
    /* Remove a margem esquerda para manter a distância da sidebar */
}

/* Estilo específico para os cardsN1, cardN2 e cardN3 */
.cardN1,
.cardN2,
.cardN3 {
    max-width: 400px;
    /* Largura máxima */
}

/* Responsividade para telas menores */
@media (max-width: 600px) {

    /* Cards ocupam toda a largura em telas menores */
    .cardN1,
    .cardN2,
    .cardN3 {
        width: 100%;
        /* Define a largura como 100% */
        max-width: none;
        /* Remove a largura máxima */
    }
}

@media (max-width: 750px) {

    /* Reduz o tamanho máximo dos cartões quando a tela for menor que 768px */
    .cardN1,
    .cardN2,
    .cardN3 {
        max-width: calc(50% - 20px);
        /* Largura máxima de 50% menos a margem */
    }
}

@media (max-width: 480px) {

    /* Reduz ainda mais o tamanho máximo dos cartões quando a tela for menor que 480px */
    .cardN1,
    .cardN2,
    .cardN3 {
        max-width: calc(100% - 20px);
        /* Largura máxima igual à largura da tela menos a margem */
    }
}

.img-card0,
.img-card1,
.img-card2,
.img-card3 {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    /* Faz a imagem ocupar toda a largura do contêiner */
    height: 100%;
    /* Faz a imagem ocupar toda a altura do contêiner */
}

.textCard {
    margin: 10px;
    text-align: justify;
    font-size: small;
    padding: 10px;
}

.card-text {
    margin-block: 10px;
    font-size: 14px;

}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E54C3C;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Certifique-se de que o botão esteja acima de outros elementos */
}

.floating-button:hover {
    background-color: #1c6090;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2980b5;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.pagination button {
    background-color: #E54C3C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #92625d;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}

#currentPage {
    display: none;
}

.card-body {
    position: relative;
}

.actionButtons {
    position: absolute;
    top: 80%;
    right: 15px;
    z-index: 10;
}

.btnEditar:hover .tooltipEditar {
    visibility: visible;
}

.btnDownload:hover .tooltipDownload {
    visibility: visible;
}

.btnExcluir:hover .tooltipExcluir {
    visibility: visible;
}

.tooltipEditar,
.tooltipDownload,
.tooltipExcluir {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -60px;
    display: block;
    font-size: 13px;
}

.tooltipEditar::after,
.tooltipDownload::after,
.tooltipExcluir::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.btnEditar,
.btnDownload,
.btnExcluir {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.btnDownload {
    width: 50px;
    height: 50px;
}

.btnExcluir {
    width: 45px;
    height: 45px;
    margin-left: -5px;
}


/* Estilização do modal de Sim/Não do JQueryUI */
.ui-dialog-titlebar {
    background: #2980b5;
    border-color: #2980b5;
    color: white;
}

.ui-dialog-titlebar-close {
    border: none;
    background-color: transparent;
    position: absolute;
}

.ui-dialog-titlebar-close::after {
    content: "X";
    color: #fff;
    top: -20%;
    right: 20%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.ui-dialog-buttonset button {
    background-color: #2980b5;
    border: solid 1px #2980b5;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-size: 14px;
}

/* Fim da estilização do modal de Sim/Não do JQueryUI */