@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
}

/* Estilo para o body */
body {
    background-color: #c9c9c9;
    /* Cor de fundo */
    margin: 0;
    /* Removendo margem */
    padding: 0;
    /* Removendo preenchimento */
}

/* Estilo para a div conteúdo */
.conteudo {
    display: flex;
    /* Usando flexbox para centralizar */
    align-items: center;
    /* Alinhando itens verticalmente */
    justify-content: center;
    /* Alinhando itens horizontalmente */
    height: 100vh;
}

/* Outros estilos permanecem os mesmos */
.area-upload {
    background-color: #ffffff;
    display: flex;
    font-family: 'Poppins';
    border-radius: 15px;
    box-shadow: 1px 1px 15px #0000007F;
    height: 60vh;
}

.area-dados {
    background-color: #2980B5;
    border-radius: 15px;
    align-items: start;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.drop_box {
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
    border: 3px dotted #c2c2c2;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
}


.btn {
    text-decoration: none;
    background-color: #2980B5;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 20px;
}

.btn:hover {
    text-decoration: none;
    background-color: #2184c2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #2184c2;
    cursor: pointer;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.titulo {
    margin: 20px 0 5px 0px;
    color: #fff;
    font-weight: 600;
}

.esquerdo h3 {
    font-size: 14px;
}

.area-dados input {
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.area-dados textarea {
    border: none;
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0;
    width: 100%;
}

.input_container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.area-dados input:focus,
.area-dados textarea:focus {
    outline: none;
}

.inputEnviar {
    max-width: 10rem;
    color: #fff;
    background-color: #E54C3C;
    border-radius: 500px;
    margin: 0 auto;
    /* Centraliza o botão */
    display: block;
    /* Assegura que o elemento se comporta como um bloco */
}

.arquivosadd {
    color: #ffffff;
    margin: 5px
}

.iconesUploadImage {
    max-width: 40px;
    color: #ffffff;
}

.file-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    /* Ajuste o espaçamento conforme necessário */
}

.file-info {
    color: white;
}

.drop_box.dragover {
    border-color: #2980B5;
    background-color: #2980B522;
}

.inputEnviar {
    max-width: 10rem;
    color: #fff;
    background-color: #E54C3C;
    border-radius: 500px;
    margin: 0 auto;
    /* Centraliza o botão */
    display: block;
    /* Assegura que o elemento se comporta como um bloco */
    align-self: center;
    margin-top: 20px !important;
}

.file-name,
.textSelFile {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilo básico do botão */
#btnSair {
    color: #E54C3C;
    /* Cor do texto */
    max-width: 80px;
    /* Largura máxima do botão */
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 50%;
    /* Arredondamento do botão */
    cursor: pointer;
}

#btnSair:hover {
    color: #a73c3c;
    background-color: #9e9e9e;
    /* Cor de fundo do botão ao passar o mouse */
}

/* Posicionamento absoluto no canto superior direito */
#btnSair {
    position: absolute;
    top: 10px;
    /* Ajuste a posição vertical conforme necessário */
    right: 10px;
    /* Ajuste a posição horizontal conforme necessário */
    z-index: 1000;
    /* Assegura que o botão fique acima de outros elementos */
}

#btnSair img {
    width: 200px;
    /* Tamanho da imagem dentro do botão */
}

#btnCancelar {
    margin-top: 8px;
    margin-left: 30px;
    background-color: none;
    width: 30px;
}

.selectStyle {
    font-weight: bold;
    background-color: #fff;
    color: #2980B5;
    border-radius: 35px;
    border: none;
}