<section class="sidebar">
    <img class="logo" src="../../../../assets/img/LogoBranco.svg" alt="LogoBranco" />
    <div class="listalinks">
        <div class="lista">
            <img src="../../../../assets/icons/cronograma.svg" alt="" />
            <a href="">Cronograma</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/trabalhos.svg" alt="" />
            <a routerLink="">Trabalhos</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/relatorios.svg" alt="" />
            <a routerLink="">Relatórios</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/discussoes.svg" alt="" />
            <a routerLink="">Discussões</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/gerencia.svg" alt="" />
            <a routerLink="">Gerência</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/administracao.svg" alt="" />
            <a routerLink="">Admin</a>
        </div>
        <div class="lista">
            <img src="../../../../assets/icons/ferramentas.svg" alt="" />
            <a routerLink="">Ferramentas</a>
        </div>
    </div>
</section>
<section class="conteudo">
    <router-outlet></router-outlet>
</section>